@model StudentInfoViewModel
@{
    Layout = "_TeacherLayout";
    DateTime curDate = DateTime.Now;
}

<div class="bg-primary text-center text-info"><h3> Учень @Model.Student.FullName</h3></div>
@if (string.IsNullOrEmpty(Model.Student.PhoneNumber))
{
    <div class="text-danger"> Немає телефона</div>
}
else
{
    <div class="text-info"> Телефон Учня : @Model.Student.PhoneNumber</div>
}
@if (Model.Student.IsActive)
{
    <form asp-action="StudentInfo">
        <select asp-for="Month" name="Month" onchange="this.form.submit()">
            @if (curDate.Month == Model.Month.Month)
            {
                <option selected value="@curDate">@curDate.ToString("MMMM:yyyy")</option>
                <option value="@curDate.AddMonths(1)">@curDate.AddMonths(1).ToString("MMMM:yyyy")</option>
            }
            else
            {
                <option value="@curDate">@curDate.ToString("MMMM:yyyy")</option>
                <option selected value="@curDate.AddMonths(1)">@curDate.AddMonths(1).ToString("MMMM:yyyy")</option>
            }
        </select>
        <input type="hidden" name="studentQR" value="@Model.Student.Id" />
    </form>
    <p>Список усіх підписок учня</p>
    <table class=" table table-bordered table-striped">
        <tr><th>Назва курсу</th></tr>
        @if (Model.Subscriptions.Count() > 0)
        {
            @foreach (var subs in Model.Subscriptions)
            {
                <tr>
                    <td>@subs.Course.Name</td>
                </tr>
            }
        }
        else
        {
            <tr><td><h3 class="text-danger">Немає активних підписок</h3></td></tr>
        }
    </table>
    <a class="btn btn-primary" asp-action="AddSubscription" asp-route-Id="@Model.Student.Id" asp-route-month="@Model.Month.ToUniversalTime()">Додати підписку</a>

}
else
{
    <div class="bg-danger text-center"> <h2>Цей аккаунт блокований. Будьласка зв'яжіться з адміністрацією.</h2></div>
}
