@model IEnumerable<Subscription>
@{
    Layout = "_AdminLayout";
}

<div class="bg-primary text-center"><h3>Subscriptions</h3></div>
<div class="text-danger" asp-validation-summary="ModelOnly"></div>
<div>
    <table class="table table-striped table-bordered text-center">
        <tr><th>User</th><th>Course Name</th><th>Day Star / Finish</th><th>Confirm by Teacher</th><th>Payed to Teacher</th><th></th></tr>
        @foreach(var subs in Model)
        {
            <tr>
                <td>@subs.AppUser.FullName <br /> @subs.AppUser.UserName</td>
                <td>@subs.Course.Name</td>
                <td>@subs.DayStart.ToString("dd:MMMM:yyyy") </td>
                <td>@if (subs.ConfirmedByTeacher == null)
                {
                    <span class="text-danger">No confirmed subscription</span>
                }
                else
                {
                    @subs.ConfirmedByTeacher?.AppUser.FullName
                        <br /> @subs.ConfirmedDatetime.ToString("dd:MMMM:yyyy")
                }
                </td>
                <td>
                    @if (subs.PyedToTeacher == null)
                    {
                        <span class="text-danger">No payed subscription</span>
                    }
                    else
                    {
                    @subs.PyedToTeacher?.AppUser.FullName <br /> @subs.PayedDatetime.ToString("dd:MMMM:yyyy")
                    }
                </td>
                <td>
                    @*<a asp-action="UserDetails" asp-route-Id="@subs.Id" class="btn btn-default">Details</a> 
                    <a asp-action="DeleteUser" asp-route-Id="@subs.Id" class="btn btn-danger" >Delete Subscription</a>*@
                </td>
            </tr>
        }
    </table>
</div>

