@model School
@{
    int paymentTypesCount = 0;
    List<PaymentType> paymentTypes = new List<PaymentType>();
    if (Model.PaymentTypes?.Count() > 0)
    {
        paymentTypesCount = Model.PaymentTypes.Count();
        paymentTypes = Model.PaymentTypes.OrderBy(pt => pt.Priority).ToList();
    }
    string redirectUrl = "111";
    if (ViewData["ReturnUrl"] != null) {
        redirectUrl = ViewData["ReturnUrl"].ToString();
    }
}

<div class="modal" tabindex="-1" id="schoolSettings" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Налаштування</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" asp-area="" asp-controller="Owner" asp-action="SchoolSettings"
asp-route-redirectUrl="@redirectUrl" id="schoolSettings">
                    <input type="hidden" asp-for="@Model.Id" />
                    @ViewData["ReturnUrl"]
                    <table id="tablePT">
                        <tr><th>Пріоритет</th><th class="text-center">Назва</th><th></th></tr>
                        @if (paymentTypes.Count() > 0)
                        {
                            @for (int j = 0; j < paymentTypesCount; j++)
                            {
                                <tr id="formRow@(j)">
                                    <td>
                                        <select name="PaymentTypes[@j].Priority" class="form-control">
                                            @for (int i = 0; i < 11; i++)
                                            {
                                                if (paymentTypes[j].Priority == i)
                                                {
                                                    <option value="@i" selected>@i</option>
                                                }
                                                else
                                                {
                                                    <option value="@i">@i</option>
                                                }
                                            }
                                        </select>
                                    </td>
                                    <td>
                                        <input name="PaymentTypes[@j].Name" value="@paymentTypes[j].Name" class="form-control" />
                                        <input type="hidden" id="idformRow@(j)" name="PaymentTypes[@j].Id" value="@paymentTypes[j].Id" />
                                        <input type="hidden" name="PaymentTypes[@j].SchoolId" value="@paymentTypes[j].SchoolId" />
                                    </td>
                                    <td>
                                        <button class="btn btn-outline-danger" onclick="removeTabbleRow('formRow@(j)'); return false">
                                            <i class="far fa-trash-alt"></i>
                                        </button>
                                    </td>
                                </tr>
                            }
                        }
                    </table>
                    <input type="hidden" id="paymentTypesCount" value="@paymentTypesCount" />
                    <button type="submit" id="btnSubmit" class="d-none">submit</button>
                    <button type="button" class="btn btn-outline-success" id="addNewPayType">
                        <i class="fas fa-plus"></i>
                    </button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="modalUpdate">Зберегти</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="modalCancel">
                    Відмінити
                </button>
            </div>
        </div>
    </div>
</div>