@model CourseDetailsViewModel
@{
    Layout = "_AdminLayout";
    ViewData["Description"] = "Курс";
}

<div class="">
    <form asp-action="UpdateCourse" method="post">
        <input type="hidden" name="Id" id="courseId"  value="@Model.Id" />
        <input type="hidden" name="SchoolId" value="@Model.SchoolId" />
        <ul class="list-group">
            <li class="list-group-item">
                <label asp-for="Name">Назва</label>
                <input asp-for="Name" class="form-control" />
            </li>
            <li class="list-group-item">
                <label asp-for="IsActive">Активний</label>
                <select name="IsActive" class="form-control">
                    @if (Model.IsActive)
                    {
                        <option value="@true" selected>Так</option>
                        <option value="@false">Ні</option>
                    }
                    else
                    {
                        <option value="@true">Так</option>
                        <option value="@false" selected>Ні</option>
                    }
                </select>
            </li>
            <li class="list-group-item">
                <label asp-for="Price">Ціна</label>
                <input asp-for="Price" class=" form-control" />
            </li>
            <li class="list-group-item">
                <div class=" form-group">
                    <label asp-for="CourseAppUsers">Вчителі</label>
                    <div class="teachers" id="teachers">
                        @foreach (var teacher in Model.CourseAppUsers)
                        {
                            <input type="checkbox" name="TeachersId" value="@teacher.AppUserId" checked />@teacher.AppUser.FullName
                            <br />
                        }
                    </div>
                    <button class="btn mt-3" type="button" data-toggle="modal" data-target="#addPhoneModal">Додати викладача</button>
                </div>
            </li>
        </ul>
        <button type="submit" class="btn btn-light mt-2">Зберегти</button>
    </form>

</div>

<partial name="_AddUserModal" />
@section AdminScripts{
    <script src="~/js/jquery.mask.min.js"></script>
    <script src="~/js/addUserModal.js"></script>
        <script>
            function updateUser(userIdent) {
                var courseId = $("#courseId").val();
                $.post("/Owner/AddTeacherToCourseAsync/" + userIdent.id + "?courseId=" + courseId,
                    function (content) {
                        $("#teachers").empty();
                        $("#teachers").append(content); 
                    }, "json");
            };
        </script>
}