@model School
@{
    Layout = "_AdminLayout";
    ViewData["Description"] = "Школа";
}

<div class="">
    <form asp-action="SchoolDetails" method="post">
        <input type="hidden" name="Id" id="schoolId" value="@Model.Id" />
        <ul class="list-group">
            <li class="list-group-item">
                <label asp-for="Name">Назва</label>
                <input asp-for="Name" class="form-control" />
            </li>
            <li class="list-group-item">
                <label asp-for="UrlName">Url назва</label>
                <input asp-for="UrlName" class="form-control" />
            </li>
            <li class="list-group-item">
                <label asp-for="Owner">Власник школи </label>
                <input value="@Model.Owner.FullName" class="form-control" disabled id="ownerName" />
                <input asp-for="OwnerId" type="hidden" id="ownerName" />
                <button class="btn mt-3 btn-outline-info float-right" type="button" data-toggle="modal" data-target="#addPhoneModal">Змінити власника</button>
            </li>
            <li class="list-group-item">
                <button class="btn-default btn" type="submit">Зберегти</button>
                <a asp-action="DeleteSchool" asp-route-id="@Model.Id" class="btn-outline-danger btn float-right">Видалити</a>
            </li>
        </ul>
    </form>
    <div>
        <div class="text-center"><h4>Курси</h4></div>
        @if (Model.Courses != null && Model.Courses.Count() > 0)
        {
            <ul class="list-group">
                @foreach (var cours in Model.Courses)
                {
                    <li class="list-group-item">
                        @if (cours.IsActive)
                        {
                            <i class="fas fa-check" style="color:green"> </i>
                        }
                        else
                        {
                            <i class="fas fa-times" style="color:red"> </i>
                        }

                        <a asp-action="CourseDetails" asp-route-id="@cours.Id"> @cours.Name</a>
                        <a asp-action="DeleteCourse" asp-route-id="@cours.Id" class=" text-danger float-right">Видалити</a>
                    </li>
                }
            </ul>
        }
    </div>
    <div class="text-center"><a asp-action="CreateCourse" asp-route-id="@Model.Id" class="btn btn-outline-primary mt-3">Додати Курс</a></div>
</div>

<partial name="_AddUserModal" />
@section AdminScripts{
    <script src="~/js/jquery.mask.min.js"></script>
    <script src="~/js/addUserModal.js"></script>
    <script>
        function updateUser(userIdent) {
            var schoolId = $("#schoolId").val();
            var oldOwner = $("#ownerId").val()
            if (oldOwner !== userIdent.id) {
                $.post("/Admin/School/ChangeSchoolOwnerAsync/" + userIdent.id + "?schoolId=" + schoolId,
                    function (content) {
                        if (content == "true") {
                            $("#ownerId").val(userIdent.id);
                            $("#ownerName").val(userIdent.name);
                        }
                    }, "json");
            }
            };
    </script>
}