@model RoleViewModel
@{
    ViewData["Title"] = "RoleDeleting";
    Layout = "_AdminLayout";
}
<div class="bg-danger text-center"><h3>You are deletimg Role - @Model.Name </h3></div>
@if (Model.users.Count > 0)
{
    <h2 class="text-danger"> Role @Model.Name has users:</h2>
    @foreach (var user in Model.users)
    {
    <p> @user.FullName   @user.UserName</p> <br />
    }
    <h2> Please, remove this(these) users from Role</h2>
}
else {
    <form asp-action="RoleDeleting" method="post">
        <input type="hidden" name="Id" value="@Model.Id" />
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
}
<a asp-action="Roles" class="btn btn-primary">Back to Roles</a>