@{
    Layout = "_Layout";
}
<div>
    <a asp-controller="Teacher" asp-action="Index" class="@GetClassForButton("Index")"> About </a>
    <a asp-controller="Teacher" asp-action="TeacherCourses" class="@GetClassForButton("TeacherCourses")"> Teacher's Courses </a>
    <a asp-controller="Teacher" asp-action="ScanQrCode" class="@GetClassForButton("ScanQrCode")"> Scan QR Code </a>
    <a asp-controller="Teacher" asp-action="TeacherCalculations" class="@GetClassForButton("TeacherCalculations")"> Calculations </a>
</div>
<div>
    @RenderBody()
</div>
@functions{
    string GetClassForButton(string action)
    {
        return "btn " + (ViewContext.RouteData.Values["action"] as string == action ? "btn-primary" : "btn-info");
    }
}