@model UserViewModel
@{
    Layout = "_AdminLayout";
    //ViewData["Description"] = Model.FullName;
}
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div>
    <form asp-action="UpdateUser" method="post">
        <input type="hidden" name="Id" value="@Model.Id" />
        <div class="form-group">
            <label asp-for="FullName">Ім'я</label>
            <input asp-for="FullName" class="form-control" value="@Model.FullName" />

        </div>
        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" value="@Model.Email" />
        </div>
        <div class="form-group">
            <label asp-for="PhoneNumber">Телефон</label>
            <input asp-for="PhoneNumber" class="form-control" value="@Model.PhoneNumber" />
        </div>
        <div class="form-group">
            <label asp-for="IsActive">Активний</label>
            <select class="form-control" name="IsActive">
                @if (Model.IsActive)
                {
                    <option value="@true" selected>Так</option>
                    <option value="@false">Ні</option>
                }
                else
                {
                    <option value="@true">Так</option>
                    <option value="@false" selected>Ні</option>
                }
            </select>

        </div>
        <div class="form-group">
            @foreach (IdentityRole role in Model.AllRoles)
            {
                <input type="checkbox" name="UserRoles" value="@role.Name"
                       @(Model.UserRoles.Contains(role.Name) ? "checked=\"checked\"" : "")>
                @role.Name<br />
            }
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Зберегти</button>
    </form>

</div>
