@model UserViewModel
@{
    Layout = "_Layout";
}
<div class="bg-primary text-center "><h2>User's @Model.FullName Details</h2></div>
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div>
    <form asp-action="UpdateUser" method="post">
        <input type="hidden" name="Id" value="@Model.Id" />
        <div class="form-group">
            <label asp-for="FullName"></label>
            <input asp-for="FullName" value="@Model.FullName" />

        </div>
        <div class="form-group">
            <label asp-for="UserName"></label>
            <input asp-for="UserName" value="@Model.UserName" />
        </div>
        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" value="@Model.Email" />
        </div>
        <div class="form-group">
            <label asp-for="PhoneNumber"></label>
            <input asp-for="PhoneNumber" value="@Model.PhoneNumber" />
        </div>
        <div class="form-group">
            <label asp-for="IsActive"></label>
            <input type="checkbox" name="IsActive" value="true"
                   @Model.IsActive/>
                  
        </div>
        <div class="form-group">
            <label asp-for="AllRoles"></label>
            @foreach(IdentityRole role in Model.AllRoles)
            {
                <input type="checkbox" name="UserRoles" value="@role.Name" 
                       @(Model.UserRoles.Contains(role.Name) ? "checked=\"checked\"" : "")>
                            @role.Name<br />
            }
        </div>
        <button type="submit" class="btn btn-primary">Save changes</button>
</form>
    
</div>
<a class="btn btn-primary" asp-action="Index">Back to Users List</a>