@model CourseViewModel
@{
    Layout = "_Layout";
}


<div>
    <form asp-action="CourseDetails" id="form" method="post">
        <input type="hidden" name="Id" id="courseId" value="@Model.Id" />
        <input type="hidden" name="SchoolId" value="@Model.SchoolId" />
        <div class="form-group">
            <label asp-for="Name">Назва</label>
            <input asp-for="Name" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Price">Ціна</label>
            <input asp-for="Price" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="IsActive">Активний</label>
            <select name="IsActive" class="form-control">
                @if (Model.IsActive)
                {
                    <option value="@true" selected>Так</option>
                    <option value="@false">Ні</option>
                }
                else
                {
                    <option value="@true" >Так</option>
                    <option value="@false" selected>Ні</option>
                }
            </select>
        </div>
        <div class=" form-group">
            <label asp-for="CourseAppUsers">Вчителі</label>
            <br />
            <div class="teachers" id="teachers" >
                @foreach (var teacher in Model.CourseAppUsers)
                {
                    <input type="checkbox" name="TeachersId" value="@teacher.AppUserId" checked />@teacher.AppUser.FullName
                    <br />
                }
            </div>
            <button class="btn" type="button" data-toggle="modal" data-target="#addPhoneModal">Додати викладача</button>
        </div>
        <button class="btn btn-primary mt-2" type="submit">Зберегти</button>
        <button type="button" class="btn btn-outline-danger float-right mt-2" data-toggle="modal" data-target="#confirmDelete">Видалити</button>
    </form>
</div>

<partial name="_ConfirmDelete" />
<partial name="_AddUserModal" />
@section Scripts{
    <script src="~/js/jquery.mask.min.js"></script>
    <script src="~/js/addUserModal.js"></script>
    <script>
        function updateUser(userIdent) {
            var courseId = $("#courseId").val();
            $.post("/Owner/AddTeacherToCourseAsync/" + userIdent.id + "?courseId=" + courseId,
                function (content) {
                    $("#teachers").empty();
                    $("#teachers").append(content);
                }, "json");
        };
    </script>
    <script>
        $(function () {
            var action = "/Owner/DeleteCourse"
            $("#deleteButton").click(function () {
                var form = document.getElementById("form");
                form.action = action;
                form.submit();
            });
    })
    </script>
    }