@model OwnerCourseViewModel
@{
    Layout = "_Layout";
}


<div>
    <form asp-action="EditCourse" method="post">
        <input type="hidden" name="Id" value="@Model.Id" />
        <input type="hidden" name="SchoolId" value="@Model.SchoolId" />
        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Description"></label>
            <input asp-for="Description" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Price"></label>
            <input asp-for="Price" class="form-control" />
        </div>
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
        </div>
        <div class=" form-group">
            <label asp-for="Teachers"></label>
            <br />
            <div class="teachers">
                @foreach (var teacher in Model.CourseAppUsers)
                {
                    <input type="checkbox" name="Teachers" value="@teacher.AppUserId" checked />@teacher.AppUser.FullName
                    <br />
                }
            </div>
            <button class="btn" type="button" data-toggle="modal" data-target="#addPhoneModal">Додати викладача</button>
        </div>
        <button class="btn btn-primary" type="submit">Зберегти</button>
    </form>
    <div class="modal" tabindex="-1" id="addPhoneModal" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Добавити за номером телефона</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input class="form-control phone-input" id="phoneInput" type="tel" required placeholder="+38(___)___-__-__" />
                    <span class=" text-danger" id="teacherName"></span>
                    <button id="addByPhone" class="btn float-right" onclick="sendPhone()">Пошук</button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="addTeacher()">Додати</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="modalCancel">Відмінити</button>
                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts{

    <script>
        var SendedData;
        function sendPhone() {
            var PhoneSend = $("#phoneInput").val().toString();
            $("#teacherName").empty();
            PhoneSend = PhoneSend.replace(/[^\d]/g, '');
            $.post("/Owner/GetUserByPhone/" + PhoneSend, function (data) {
                if (data == "") {
                    $("#teacherName").append("Користувача не знайдено");
                } else {
                    $("#teacherName").append(data);
                    SendedData = data;
                }
            }, "json");
        };
        $()
        function addTeacher() {
            var data = SendedData;
            console.log(data);
            $(".teachers").append(data);
            $("#modalCancel").click();
        }
    </script>
    <script>
        $(function () {
            $("#scanQR").click(function () {
                // function sendId(id) {
                $.post("/Owner/GetUserById/" + id, function (data) {
                    if (data == "") {
                        $("#erorInfoId").append("Користувача не знайдено");
                    }
                    $("#teachers").append(data);
                });
            });
        });
    </script>
    <script src="~/js/jquery.mask.min.js"></script>
    <script>
        $('.phone-input').mask("+38(000)000-00-00", { placeholder: "+38(___)___-__-__" });
    </script>
    <script type="text/javascript">
    var getUserInfoUrl = '@Url.Action("GetUserById")';
    var cameras;
    var scanner;

        $(function () {
            $("#scanQR").click(function () {
                $("#cameraVideo").removeClass("hidden");
                $.getScript("/js/instascan.min.js", function () {
                    scanner = new Instascan.Scanner({ video: document.getElementById('preview'), mirror: false });
                    scanner.addListener('scan', function (content) {
                        sendId(content);
                        $("#cameraVideo").addClass("hidden");
                        scanner.stop();
                    });
                    Instascan.Camera.getCameras().then(function (camerasList) {
                        cameras = camerasList;
                        if (cameras.length > 0) {
                            if (cameras.length > 1) {
                                var camerasArea = $("#area-cameras-list");
                                for (var i = 0; i < cameras.length; i++) {
                                    if (i == cameras.length - 1) {
                                        camerasArea.append("<a class='list-group-item active' href='#' data-camera-id='" + cameras[i].id + "'>" + cameras[i].name + "</a><br/>")
                                    }
                                    else {
                                        camerasArea.append("<a class='list-group-item' href='#' data-camera-id='" + cameras[i].id + "'>" + cameras[i].name + "</a><br/>")
                                    }
                                }
                            }
                            scanner.start(cameras[cameras.length - 1]);
                        } else {
                            console.error('No cameras found.');
                        }
                    }).catch(function (e) {
                        console.error(e);
                    });
                });

                $("body").on('click', '#area-cameras-list a', function () {
                    $(".list-group-item").removeClass("active");
                    $(this).addClass('active');
                    var cameraId = $(this).attr('data-camera-id');
                    var activeCamera = cameras.find(x => x.id === cameraId);
                    scanner.start(activeCamera);
                });
            });
        });
    </script>
}
