@model School
@{
    Layout = "_Layout";
    int paymentTypesCount = 0;
    List<PaymentType> paymentTypes = new List<PaymentType>();
    if (Model.PaymentTypes?.Count() > 0)
    {
        paymentTypesCount = Model.PaymentTypes.Count();
        paymentTypes = Model.PaymentTypes.OrderBy(pt => pt.Priority).ToList();
    }
    bool isItAdmin = ViewBag.isItAdmin ?? false;
}

<div class="container">
    <div class="text-right mb-1">
        @if (Model.PaymentTypes == null || Model.PaymentTypes.Count() == 0)
        {
            <button class="btn btn-sm btn-outline-danger" type="button" data-toggle="modal" data-target="#schoolSettings">
                Додати варіанти сплати
            </button>
        }
        else
        {
            <button class="btn btn-sm btn-outline-secondary" type="button" data-toggle="modal" data-target="#schoolSettings">
                Варіанти сплати
            </button>
        }
    </div>
    @if (isItAdmin)
    {
        <form asp-area="Admin" asp-controller="School" asp-action="SchoolDetails" method="post" id="form">
            <input type="hidden" name="Id" id="schoolId" value="@Model.Id" />
            <ul class="list-group">
                <li class="list-group-item">
                    <label asp-for="Name">Назва</label>
                    <input asp-for="Name" class="form-control" />
                </li>
                <li class="list-group-item">
                    <label asp-for="UrlName">Url назва</label>
                    <input asp-for="UrlName" class="form-control" />
                </li>
                <li class="list-group-item">
                    <label asp-for="Owner">Власник школи </label><br />
                    <h5 id="ownerName"> @Model.Owner.FullName</h5>
                    <input asp-for="OwnerId" type="hidden" />
                    <div class="text-center">
                        <button class="btn mt-3 btn-outline-info" type="button" data-toggle="modal" data-target="#addPhoneModal">Змінити власника</button>
                    </div>
                </li>
                <li class="list-group-item">
                    <button class="btn-default btn" type="submit">Зберегти</button>
                    <button type="button" class="btn btn-outline-danger float-right" data-toggle="modal" data-target="#confirmDelete">Видалити</button>
                </li>
            </ul>
        </form>
    }
    else
    {
        <div class="text-center">
            <h2 class="text-center">@Model.Name</h2>
        </div>
    }
    <div class="text-center"><h4>Курси</h4></div>
    @if (Model.Courses.Count() > 0)
    {
        <div class="list-group">
            @foreach (var course in Model.Courses)
            {
                <div class="list-group-item">
                    <a asp-action="CourseDetails" asp-area="" asp-controller="Owner" 
asp-route-id="@course.Id" asp-route-isItAdmin="@isItAdmin" asp-route-schoolId="@Model.Id">@course.Name</a>
                    @if (course.IsActive)
                    {
                        <i class="fas fa-check float-right" style="color:green"> </i>
                    }
                    else
                    {
                        <i class="fas fa-times float-right" style="color:red"> </i>
                    }
                </div>
            }
        </div>
    }
    <div class="text-center mt-1">
        <a asp-action="AddCourse" asp-route-schoolId="@Model.Id" asp-route-isItAdmin="@isItAdmin"
           class="btn btn-outline-primary mt-2">Додати курс</a>
    </div>
</div>
 
@await Html.PartialAsync("_SchoolSettingsModal", Model)
<partial name="_AddUserModal" />
<partial name="_ConfirmDelete" />

@section Scripts{
    <script src="~/js/schoolSettings.js"></script>
    <script src="~/js/jquery.mask.min.js"></script>
    <script src="~/js/addUserModal.js"></script>
    <script>
        function updateUser(userIdent) {
            var schoolId = $("#schoolId").val();
            var oldOwner = $("#ownerId").val()
            if (oldOwner !== userIdent.id) {
                $.post("/Admin/School/ChangeSchoolOwnerAsync/" + userIdent.id + "?schoolId=" + schoolId,
                    function () {
                            $("#ownerId").val(userIdent.id);
                        $("#ownerName").html(userIdent.name);
                    }, "json");
            }
        };
    </script>
    <script>
        $(function () {
            $("#deleteButton").click(function () {
                var action = "/Admin/School/RemoveSchool"
                var form = document.getElementById("form");
                form.action = action;
                form.submit();
            });
        });
    </script>
}