@model Course
@{
    Layout = "_Layout";
}

<div class="container">
    <div class="list-group">
        <div class="list-group-item">
            @Model.Name
        </div>
        <div class="list-group-item">
            @Model.Description
        </div>
        <div class="list-group-item">
            @Model.Price
        </div>
        <div class="list-group-item">
            @foreach (var teacher in Model.CourseAppUsers)
            {
                @teacher.AppUser.FullName
                <br />
            }
        </div>
    </div>
</div>

<a asp-action="EditCourse" asp-route-id="@Model.Id" asp-route-schoolId="@Model.SchoolId"  class="btn btn-primary">Редагувати</a>
<a asp-action="SchoolInfo" asp-route-id="@Model.SchoolId" class="btn">Назад</a>