@model AddSubscriptionViewModel
@{
    Layout = "_Layout";
    Course selectedCourse = Model.TeacherCourses.Where(cour => cour.AllowOneTimePrice == true).FirstOrDefault();
    DateTime date = DateTime.Now;
}

<div>
    <form asp-action="AddOneTimeSubscription" method="post">
        <input type="hidden" asp-for="SchoolId" />
        <input type="hidden" asp-for="Student.Id" id="studentId" class="form-control" />
        <div class="form-group">
            <label asp-for="Student.FullName">Ім'я</label>
            <input asp-for="Student.FullName" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Student.PhoneNumber">Телефон</label>
            <input class="form-control phone-input" name="Student.PhoneNumber" id="phoneInput"
                   type="tel" required placeholder="+38(___)___-__-__" />

        </div>
        <div class="form-group">
            <button class="btn btn-outline-info" type="button" data-toggle="modal" data-target="#addPhoneModal">Вибрати учня</button>
            <label class="ml-2" id="userName"></label>
        </div>
        <div class="form-group">
            <label asp-for="Month">Дата</label>
            <input class="form-control" type="date" name="Month" value="@date.ToString("yyyy-MM-dd")" />
        </div>
        <div class="form-group">
            <label>Курс</label>
            <select class="form-control" id="CourseSelect" name="SelectedCours.Id" onchange="ChangeCourse(this)">
                @foreach (var cours in Model.TeacherCourses)
                {
                    @if (cours.AllowOneTimePrice == true)
                    {
                        <option selected="@(selectedCourse==cours?true:false)" value="@cours.Id" data-price="@cours.OneTimePrice"> @cours.Name </option>
                    }
                }
            </select>
        </div>

        <div class="form-group">
            <label asp-for="@selectedCourse.OneTimePrice">Ціна: </label>
            <input id="Price" asp-for="@selectedCourse.OneTimePrice" class="form-control"
                   name="SelectedCours.Price" value="@selectedCourse.OneTimePrice" />
        </div>
        <button type="submit" class="btn btn-outline-primary">Додати</button>
    </form>
</div>


<partial name="_AddUserModal" />
@section Scripts{
    <script src="~/js/jquery.mask.min.js"></script>
    <script src="~/js/addUserModal.js"></script>
    <script>
        function updateUser(userIdent) {
            $("#studentId").val(userIdent.id);
            $("#userName").text(userIdent.name);
        };
    </script>
    <script>
        function ChangeCourse(a) {
            var val = a.options[a.selectedIndex].dataset.price;
            $("#Price").val(val);
        }
    </script>

}