@model AddSubscriptionViewModel
@{
    Layout = "_Layout";
    var curDate = DateTime.Now;
    Course selectedCourse = Model.TeacherCourses.FirstOrDefault();
}

<div class="text-info text-center"><h2>Абонемент для</h2></div>
<div class=" text-info text-center"><h2>@Model.Student.FullName.ToUpper()</h2></div>
@if (Model.TeacherCourses.Count() > 0)
{
    <form asp-action="AddSubscription" method="post">
        <input type="hidden" name="Student.Id" value="@Model.Student.Id" />
        <div class="form-group">
            <select class="form-control" name="Month">
                @if (curDate.Month == Model.Month.Month)
                {
                    <option selected value="@curDate">@curDate.ToString("MMMM:yyyy")</option>
                    <option value="@curDate.AddMonths(1)">@curDate.AddMonths(1).ToString("MMMM:yyyy")</option>
                }
                else
                {
                    <option value="@curDate">@curDate.ToString("MMMM:yyyy")</option>
                    <option selected value="@curDate.AddMonths(1)">@curDate.AddMonths(1).ToString("MMMM:yyyy")</option>
                }
            </select>
        </div>
        <div class="form-group">
            <select class="form-control" id="CourseSelect" name="SelectedCours.Id" onchange="ChangeCourse(this)">
                @foreach (var cours in Model.TeacherCourses)
                {
                    @if (selectedCourse == cours)
                    {
                        <option value="@cours.Id" selected data-price="@cours.Price">@cours.Name</option>
                    }
                    else
                    {
                        <option value="@cours.Id" data-price="@cours.Price">@cours.Name</option>
                    }
                }
            </select>
        </div>
       
        <div class="form-group">
            <label asp-for="@selectedCourse.Price">Ціна: </label>
            <input id="Price" asp-for="@selectedCourse.Price" class="form-control" name="SelectedCours.Price" value="@selectedCourse.Price" />
        </div>
        <div class="text-center"><button type="submit" class="btn btn-primary">Додати </button></div>
    </form>
}
else
{
    <div class="bg-danger text-info text-center"><h2>У вас немає активних курсів</h2></div>
}
<div class="text-center"><a asp-action="StudentInfo" asp-route-studentId="@Model.Student.Id" class="text-info">Назад</a></div>
@section Scripts{
    <script>
        function ChangeCourse(a) {
            var val = a.options[a.selectedIndex].dataset.price;
            $("#Price").val(val);
        }
    </script>
}