@model AddSubscriptionViewModel
@{
    Layout = "_Layout";
    var curDate = DateTime.Now;
    Course selectedCourse = Model.TeacherCourses.FirstOrDefault();
}

<div class="text-info text-center"><h2>Абонемент для</h2></div>
<div class=" text-info text-center"><h2>@Model.Student.FullName.ToUpper()</h2></div>
@if (Model.TeacherCourses.Count() > 0)
{
    <form asp-action="AddSubscription" method="post">
        <input type="hidden" name="Student.Id" value="@Model.Student.Id" />
        <input type="hidden" name="SchoolId" value="@Model.SchoolId" />
        <input type="hidden" name="SelectedCours.Price" value="@selectedCourse.Price" id="Price" />
        <div class="form-group">
            <select class="form-control" name="Month">
                @if (curDate.Month == Model.Month.Month)
                {
                    <option selected value="@curDate">@curDate.ToString("MMMM:yyyy")</option>
                    <option value="@curDate.AddMonths(1)">@curDate.AddMonths(1).ToString("MMMM:yyyy")</option>
                }
                else
                {
                    <option value="@curDate">@curDate.ToString("MMMM:yyyy")</option>
                    <option selected value="@curDate.AddMonths(1)">@curDate.AddMonths(1).ToString("MMMM:yyyy")</option>
                }
            </select>
        </div>

        <div class="form-group">
            <label>Курс</label>
            <select class="form-control" id="CourseSelect" name="SelectedCours.Id" onchange="ChangeCourse(this)">
                @foreach (var cours in Model.TeacherCourses)
                {
                    @if (selectedCourse == cours)
                    {
                        <option value="@cours.Id" selected data-price="@cours.Price"
                                data-pt="@JsonConvert.SerializeObject(cours.CoursePaymentTypes
                                        .OrderBy(cpt=>cpt.PaymentType.Priority)
                                        .Select(cPT => new PaymentTypeView {
                                            Id =cPT.PaymentType.Id,
                                            Name=cPT.PaymentType.Name,
                                            }).ToList())">
                            @cours.Name
                        </option>
                    }
                    else
                    {
                        <option value="@cours.Id" data-price="@cours.Price"
                                data-pt="@JsonConvert.SerializeObject(cours.CoursePaymentTypes
                                            .OrderBy(cpt=>cpt.PaymentType.Priority)
                                            .Select(cPT => new PaymentTypeView {
                                            Id =cPT.PaymentType.Id,
                                            Name=cPT.PaymentType.Name,
                                            }).ToList())">
                            @cours.Name
                        </option>
                    }
                }
            </select>
        </div>

        <div class="form-group">
            <label asp-for="@selectedCourse.Price">Ціна: </label>
            <input id="Payed" asp-for="@selectedCourse.Price" class="form-control" name="Payed" value="@selectedCourse.Price" />
        </div>
        <div class="form-group">
            <label asp-for="@selectedCourse.CoursePaymentTypes">Варіант сплати</label>
            <select class="form-control" name="SelectedPaymentType" id="selectPaymentType">
                @foreach (PaymentType type in selectedCourse.CoursePaymentTypes
                  .OrderBy(cpt => cpt.PaymentType.Priority)
                  .Select(cpt => cpt.PaymentType))
                {
                    <option value="@type.Id">@type.Name</option>
                }
            </select>
        </div>
        <div class="text-center">
            @if (selectedCourse.CoursePaymentTypes?.Count() > 0)
            {
                <button type="submit" id="btnSubmit" class="btn btn-primary">Додати </button>
            }
            else
            {
                <button type="submit" disabled id="btnSubmit" class="btn btn-primary">Додати </button>
            }
        </div>
    </form>
}
else
{
    <div class="bg-danger text-info text-center"><h2>У вас немає активних курсів</h2></div>
}
@section Scripts{
    <script>
        function ChangeCourse(a) {
            var val = a.options[a.selectedIndex].dataset.price;
            $("#Price").val(val);
            var hasPTypes = false;
            var pts = JSON.parse(a.options[a.selectedIndex].dataset.pt);
            $("#selectPaymentType").empty();
            $.each(pts, function (index, value) {
                $("#selectPaymentType").append(new Option(value.Name, value.Id));
                hasPTypes = true;
            });
            if (hasPTypes == true) {

            }
            $("#btnSubmit").prop('disabled', !hasPTypes);
        }
    </script>
}