@model StudentInfoViewModel
@{
    Layout = "_Layout";
    DateTime curDate = DateTime.Now;
    string imageSRC = "/avatars/avatar-" + @Model.Student.Id + ".jpg";
}

<div class="text-center"><h3>@Model.Student.FullName.ToUpper()</h3></div>
@if (string.IsNullOrEmpty(Model.Student.PhoneNumber))
{
    <div class="text-danger text-center"> Немає телефона</div>
}
else
{
    <div class="text-center" style="font-size:1.2em;">@Model.Student.PhoneNumber</div>
}
@if (Model.Student.IsActive)
{
    <br />
    <form asp-action="StudentInfo" class="text-center">
        <select class="form-control" asp-for="Month" name="Month" onchange="this.form.submit()">
            @if (curDate.Month == Model.Month.Month)
            {
                <option selected value="@curDate">@curDate.ToString("MMMM:yyyy")</option>
                <option value="@curDate.AddMonths(1)">@curDate.AddMonths(1).ToString("MMMM:yyyy")</option>
            }
            else
            {
                <option value="@curDate">@curDate.ToString("MMMM:yyyy")</option>
                <option selected value="@curDate.AddMonths(1)">@curDate.AddMonths(1).ToString("MMMM:yyyy")</option>
            }
        </select>
        <input type="hidden" name="studentId" id="userId" ; value="@Model.Student.Id" />
        <input type="hidden" name="schoolId" value="@Model.ScholId" />
    </form>
    <br />
    <table class="text-center table table-bordered table-striped">
        @if (Model.Subscriptions.Count() > 0)
        {
            @foreach (var subs in Model.Subscriptions)
            {
                <tr>
                    <td style="vertical-align:middle; font-weight:bold;">@subs.Course.Name</td>
                    <td>
                        @foreach (var user in subs.Course.CourseAppUsers)
                        {
                            <span>@user.AppUser.FullName</span><br />
                        }
                    </td>
                </tr>
            }
        }
        else
        {
            <tr><td><h3 class="text-danger">Немає абонементів</h3></td></tr>
        }
    </table>
    <div class="text-center">
        <a class="btn btn-primary" asp-action="AddSubscription" asp-route-Id="@Model.Student.Id"
           asp-route-schoolId="@Model.ScholId" asp-route-month="@Model.Month.ToUniversalTime()">Додати абонемент</a>
    </div>
    <div class="text-center my-2">
        <img id="avatarImg" style="width:100%" src="@imageSRC" onError="NoAvatarFunc() " />
    </div>
    <div>
        <button class="btn btn-outline-primary" type="button" data-toggle="modal" data-target="#addAvatarModal">Встановити зображення</button>
    </div>
}
else
{
    <div class="bg-danger text-center"> <h2>Цей аккаунт блокований. Будьласка зв'яжіться з адміністрацією.</h2></div>
}

<partial name="_AddUsersAvatarModal" />
@section Scripts{
    <script src="~/js/photograph.js"></script>
    <script>
        function NoAvatarFunc() {
            var flashMessage = $('#flashMessage');
            flashMessage.append("<p class='alert alert-danger'>Додайте фото</p>");
            $('#avatarImg').addClass("d-none");
        }
    </script>
}
