@model Subscription
@{
    Layout = "_Layout";
    int paymentNumber = 0;
}

<form asp-action="SubscriptionDetails" method="post" id="form">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="AppUserId" />
    <input type="hidden" asp-for="CourseId" />
    <input type="hidden" asp-for="Period" />
    <ul class="list-group">
        <li class="list-group-item my-1">
            <span> Учень:  @Model.AppUser.FullName</span>
        </li>
        <li class="list-group-item my-1">
            <span>Курс: @Model.Course.Name</span>
        </li>
        <li class="list-group-item  my-1">
            @if (Model.MonthSubscription)
            {
                <span>Місяць: @Model.Period.ToString("MMMM:yyyy")</span>
            }
            else
            {
                <span>Дата: @Model.Period.ToString("dd:MMMM:yyyy")</span>
            }
        </li>
        <li class="list-group-item my-1">
            <span>Вартість: @Model.Price</span>
        </li>
        <li class="list-group-item my-1">
            <span>Платежі</span><br />
            <ul class="list-group my-1">
                @if (Model.Payments != null && Model.Payments.Count() > 0)
                {
                    @foreach (Payment payment in Model.Payments)
                    {
                        <li class="list-group-item">
                            <button class="btn" type="button" data-target="#collapse_@paymentNumber" data-toggle="collapse" aria-expanded="false" aria-controls="#collapse_@paymentNumber"><i class="fas fa-angle-double-down"></i></button>
                            @payment.PaymentType.Name Сплачено @payment.Price
                            <div id="collapse_@paymentNumber" class="collapse">
                                <input type="hidden" name="Payments[@paymentNumber].Id" value="@payment.Id" />
                                <input class="form-control my-1" name="Payments[@paymentNumber].Price" value="@payment.Price" />
                                <select class="form-control" name="Payments[@paymentNumber].PaymentTypeId">
                                    @foreach (PaymentType paymentType in Model.Course.CoursePaymentTypes
.OrderBy(cpt => cpt.PaymentType.Priority)
.Select(cpt => cpt.PaymentType))
                                    {
                                        if (paymentType.Id == payment.PaymentTypeId)
                                        {
                                            <option value="@paymentType.Id" selected>@paymentType.Name</option>
                                        }
                                        else
                                        {
                                            <option value="@paymentType.Id">@paymentType.Name</option>
                                        }
                                    }
                                </select>
                            </div>
                        </li>
                        paymentNumber++;
                    }
                }
                <li class="list-group-item">
                    <button class="btn" type="button" data-target="#collapse_@paymentNumber" data-toggle="collapse" aria-expanded="false" aria-controls="#collapse_@paymentNumber"><i class="fas fa-angle-double-down"></i></button>
                    Додати
                    <div id="collapse_@paymentNumber" class="collapse">
                        <input class="form-control my-1" name="Payments[@paymentNumber].Price" value="" />
                        <select class="form-control" name="Payments[@paymentNumber].PaymentTypeId">
                            @{bool firstPaymentType = true;}
                            @foreach (PaymentType paymentType in Model.Course.CoursePaymentTypes
.OrderBy(cpt => cpt.PaymentType.Priority)
.Select(cpt => cpt.PaymentType))
                            {
                                if (firstPaymentType)
                                {
                                    <option value="@paymentType.Id" selected>@paymentType.Name</option>
                                }
                                else
                                {
                                    <option value="@paymentType.Id">@paymentType.Name</option>
                                }
                                firstPaymentType = false;

                            }
                        </select>
                    </div>
                </li>
                @{paymentNumber++;}

            </ul>
        </li>

    </ul>
    <button class="btn btn-outline-primary  my-1" type="submit">Зберегти</button>
    <button type="button" class="btn btn-outline-danger float-right mt-2" data-toggle="modal" data-target="#confirmDelete">Видалити</button>
</form>

<partial name="_ConfirmDelete" />
@section Scripts{
    <script>
        $(function () {
            $("#deleteButton").click(function () {
                var action = "/Teacher/RemoveSubscription"
                var form = document.getElementById("form");
                form.action = action;
                form.submit();
            });
        });
    </script>
}