@model Course
@{
    Layout = "_AdminLayout";
}
<div class="bg-primary text-center"><h3>Teachers os Course @Model.Name </h3></div>
<form asp-action="EditCourseTeachers" method="post">
    <input type="hidden" name="Id" value="@Model.Id" />
    <div class="form-group">
        <label asp-for="CourseAppUsers">
            @foreach (AppUser teacher in ViewBag.allTeschers)
            {
            <input type="checkbox" name="CourseAppUsers" value="@teacher" 
                   @(Model.CourseAppUsers.Select(p=>p.AppUserId=teacher.Id) == null ? "checked=\"checked\"" : "")
                   @(Model.CourseAppUsers.Contains(new CourseAppUser { AppUserId= teacher.Id })? "checked=\"checked\"" : "")  />
                   @teacher.FullName <br>
                   }
        </label>
    </div>
    <button type="submit" class="btn btn-primary">Save Changes</button>
</form>
<a asp-action="Index" class="btn btn-default">Back to List</a>